{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    ["inline-react-svg"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "static": "./static",
        "styles": "./src/styles",
        "routes": "./src/routes",
        "layouts": "./src/layouts",
        "services": "./src/services",
        "components": "./src/components",
      }
    }]
  ]
}