@import '../../styles/base';

.container {
  @include flex;

  &.absolute {
    @include absolute(top 12px left 16px);
    @include z-index('languages');
  }
}

.lng {
  @include size(25px, 30px);
  @include mr(2);

  cursor: pointer;
  transition: opacity 150ms ease-in-out;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}
